{% extends 'front.html.twig' %}

{%  block body %}

    <div id="grafica" style="width:100%; height:400px;"></div>

{% endblock body %}

{% block javascripts %}

    {{ parent() }}
    <script>
        $(document).ready(function()
        {
            var idPac = 1;
            var idItem =2;

            var urlJ= "{{ path('resultGraficos', {'idPaciente': 'idPac','idItem': 'idItem'}) }}";
            urlJ = urlJ.replace("idPac", idPac);
            urlJ = urlJ.replace("idItem", idItem);



            var ejeX = [];
            var ejeY = [];
           $.ajax({
                    url: urlJ,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        var result = data.resultados;

                        for(var i=0; i<result.length; i++)
                        {
                            ejeX.push(result[i].resultado);
                            ejeY.push(result[i].fechaEntrega)
                        }


                    },
               async: false
                }
            );














            var myChart = Highcharts.chart('grafica', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Comparación Resultados de Análisis'
                },
                xAxis: {

                    categories: ejeY
                },
                yAxis: {
                    plotBands: [{
                        color: 'rgba(65, 134, 27, 0.4)',
                        from: 3,
                        to: 4,
                        label:{
                            text: 'Valores Normales'
                        }

                    }],
                    title: {
                        text: 'Resultado Análisis'
                    }
                },
                series: [ {
                    name: 'John',
                    data: ejeX
                }]
            });


        })
    </script>


{% endblock %}