<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
{#Análisis   &nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;  Nro: {{ analisi.id }}#}
<B>Análisis:</B> {{ analisi.id }} &nbsp;&nbsp;&nbsp; <B>Paciente:</B> {{ analisi.paciente }}  &nbsp;&nbsp;&nbsp; <b>Fecha Realizado:</b>  {{ analisi.fechaCreado|date("d/m/Y") }}


<hr />
</body>
</html>