<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<hr />
Laboratorio de Análisis Clínicos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;Firma Profesional : ________________
</body>
</html>
